<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <footer class="site-footer">
    <p>
        © 2025 <span>MovieHub</span> • All Rights Reserved
    </p>
    
</footer>
</body>
</html>