<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Hub</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- HEADER -->
     
    <header class="navbar">
        <div class="logo">
            <a href="/">🎬 MovieHub</a>
        </div>

        <div class="nav-btn">
            <a href="/add-movie" class="add-movie-btn">➕ Add Movie</a>
        </div>
    </header>

  


</body>
</html>